---
---

@import "palettes";
@import "theme";
@import "mixins";

.post_excerpt {
  margin: 20px 20px;
  @include trim-v-margins;

  & > *:first-child {
    font-weight: $semi-bold;
  }

  & > div {
    justify-content: flex-start;
  }
  //border: 1px solid #BFBFBF;
  //box-shadow: 10px 10px 5px #aaaaaa;
}
