---
---

@import "palettes";
@import "theme";
@import "mixins";

.table_wrapper {
  margin: 10px 0;
  @include trim-v-margins;
  overflow-x: auto;
  
  table {

    th,
    td {
      padding: 5px 15px;
      border: solid 1px $gray-500;
    }
  }
}
