
{% include portrait.html image="/images/CI_logo.png" link="http://www.cipsc.org.cn/" %}
{% include figure.html image="/images/logo-tsinghua.png" link="https://www.tsinghua.edu.cn/" %}
<h2>
    <ul>
        <li><a href="/CCIR2023">首页</a></li>
        <li><a href="/CCIR2023/call4papers">会议征文</a></li>
        <li><a href="https://www.datafountain.cn/special/CCIR2023?preview=true">CCIR2023挑战杯</a></li>
        <li><a href="/CCIR2023/organization">会议组织</a></li>
        <li><a href="/CCIR2023/acceptedpapers">论文录用</a></li>
        <li><a href="/CCIR2023/register">会议注册</a></li>
        <li><a href="/CCIR2023/schedule">会议日程</a></li>
        <li><a href="/CCIR2023/accommodation">住宿交通</a></li>
        <li><a href="/CCIR2023/contact">联系我们</a></li>
    </ul>
</h2>

