
{% include portrait.html image="/images/CI_logo.png" link="http://www.cipsc.org.cn/" %}
<!-- {% include figure.html image="/images/logo-tsinghua.png" link="https://www.tsinghua.edu.cn/" %} -->
<h2>
    <ul>
        <li><a href="/CCIR2025">首页</a></li>
        <li><a href="/CCIR2025/register">会议注册</a></li>
        <li><a href="/CCIR2025/call4papers">会议征文</a></li>
        <li><a href="/CCIR2025/organization">会议组织</a></li>
        <li><a href="/CCIR2025/cup">法律知识检索与生成大赛</a></li>
        <li><a href="/CCIR2025/sponsor">赞助方案</a></li>




    </ul>
</h2>

