{%- if include.style == "small" -%}
  {%- assign width = 100 -%}
{%- else -%}
  {%- assign width = 150 -%}
{%- endif -%}

{%- assign emptyarray = "" | split: "," -%}

{%- assign member = include -%}

{%- assign url = member.links.home-page | default: "" -%}

{::nomarkdown}
<a {% if url %}href="{{ url | relative_url }}"{% endif %} class="portrait" style="--width: {{ width }}px">

  {%- assign placeholder = "images/placeholder.svg" | relative_url -%}
  <!--
  {%- assign role = member.role | default: "" -%}
  {%- if role -%}
    {%- include role.html type=role -%}
  {%- endif -%}
  -->
  {%- assign name = member.name | default: "" -%}
  {%- assign image = member.image | default: member.image_url | default: "" -%}
  <span class="portrait_image">
    <img
      src="{{ image }}"
      onerror="this.src = '{{ placeholder }}'; this.onerror = null;"
      loading="lazy"
      alt="{{ name | default: 'Member portrait' }}"
    >
  </span>

  {%- if name -%}
    <span class="portrait_name">
      {{ name }}
    </span>
  {%- endif -%}
  
  {%- assign title = member.title | default: "" -%}
  {%- if title -%}
    <span class="portrait_title">
      {{ title }}
    </span>
  {%- endif -%}

  {%- assign description = member.description | default: "" -%}
  {%- if description -%}
    <span class="portrait_description">
      {{ description }}
    </span>
  {%- endif -%}

</a>
{:/}
