{% assign emptyarray = "" | split: "," %}

<div class="post_excerpt">
  {% assign url = include.url | default: "" %}
  {% assign title = include.title | default: "" %}
  <p style="text-align:left;">
    <a href="{{ url | relative_url }}">{{ title }}</a>
    <span style="float:right;white-space:nowrap;color: #9e9e9e;">
      <i class="far fa-calendar-alt"></i>
      &nbsp;{{- include.date | date: '%B %d, %Y' -}}
    </span>
  </p>

  {% assign content = include.content | default: "" %}
  <p>
    {{ content | strip_html | truncate: 150 | remove: "　　​​"}}
  </p>
</div>
