<!-- third party scripts (local) -->
<script src="{{ '/js/vendor/popper.min.js' | relative_url }}" defer></script>
<script src="{{ '/js/vendor/tippy.min.js' | relative_url }}" defer></script>
<script src="{{ '/js/vendor/mark.min.js' | relative_url }}" defer></script>
<script src="{{ '/js/vendor/bootstrap.min.js' | relative_url }}" defer></script>

<!-- site-wide javascript scripts -->
{% for file in site.static_files %}
  {%- if file.path contains "/js" -%}
    {%- unless file.path contains "/js/vendor/" -%}
      <script src="{{ file.path | relative_url }}" defer></script>
    {%- endunless -%}
  {% endif -%}
{% endfor %}
